* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ps_red: hsl(0, 100%, 74%);
  --ps_green: hsl(154, 59%, 51%);
  --ps_purple: hsl(248, 32%, 49%);
  --ps_textDark: hsl(249, 10%, 26%);
  --ps_white: whitesmoke;
  --inspect: solid blue 1px;
}

/* Main */
body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-image: url(./assets/bg-intro-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 122, 122, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  width: 1110px;
  height: 646px;
  display: flex;
  border: var(--inspect);
}
section {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Advertisement */
.advertisement-wrapper p {
  color: var(--ps_white);
  font-size: 1rem;
  font-weight: 500;
}
h1 {
  font-size: 3rem;
  color: var(--ps_white);
  line-height: 50px;
  margin-bottom: 30px;
}

/* Form */

/* Banner */
.banner {
  background: var(--ps_purple);
  height: 60px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.15);
}
.banner p {
  font-size: 0.95rem;
  color: white;
  font-weight: 700;
}
.banner p span {
  font-weight: 400;
}
